<mat-vertical-stepper
  [linear]="!projeto.id"
  #stepper
  class="container mat-elevation-z6"
>
  <mat-step [stepControl]="formGroup01">
    <form [formGroup]="formGroup01">
      <div class="field">
        <ng-template matStepLabel>
          Tema & Turma
        </ng-template>
        <mat-form-field class="field field-padding">
          <input
            matInput
            autocomplete="false"
            formControlName="tema"
            required
            placeholder="Tema"
          />
          <mat-error
            *ngIf="
              formGroup01.controls['tema'].hasError('minlength') &&
              !formGroup01.controls['tema'].hasError('required')
            "
          >
            Tema deve ter no minimo <strong>3 caraters</strong>
          </mat-error>

          <mat-error *ngIf="formGroup01.controls['tema'].hasError('maxlength')">
            Tema não deve ter acima de <strong>80 caraters</strong>
          </mat-error>

          <mat-error *ngIf="formGroup01.controls['tema'].hasError('required')">
            Tema é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field field-padding">
          <mat-select
            matInput
            formControlName="turma"
            required
            placeholder="Turma"
          >
            <ng-container *ngFor="let turma of turmas$ | async">
              <mat-option [value]="turma.id">
                {{ turma?.sigla }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formGroup01.controls['turma'].hasError('required')">
            Turma é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <div class="spaced">
          <button
            color="primary"
            class="large"
            mat-raised-button
            matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
            Avançar
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup02">
    <form [formGroup]="formGroup02">
      <div class="field">
        <ng-template matStepLabel>
          Grupo & Curso
        </ng-template>

        <mat-form-field class="field field-padding">
          <mat-select
            matInput
            formControlName="grupo"
            required
            placeholder="Grupo"
          >
            <ng-container *ngFor="let grupo of grupos$ | async">
              <mat-option [value]="grupo.id">
                {{ grupo.posicao }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formGroup02.controls['grupo'].hasError('required')">
            Grupo é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field field-padding">
          <input
            matInput
            autocomplete="false"
            formControlName="curso"
            required
            placeholder="Curso"
          />
          <mat-error
            *ngIf="
              formGroup02.controls['curso'].hasError('minlength') &&
              !formGroup02.controls['curso'].hasError('required')
            "
          >
            Tema deve ter no minimo <strong>3 caraters</strong>
          </mat-error>

          <mat-error
            *ngIf="formGroup02.controls['curso'].hasError('maxlength')"
          >
            Tema não deve ter acima de <strong>80 caraters</strong>
          </mat-error>

          <mat-error *ngIf="formGroup02.controls['curso'].hasError('required')">
            Tema é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <div class="spaced">
          <button
            color="primary"
            class="large"
            mat-raised-button
            matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
            Avançar
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="formGroup03">
    <form [formGroup]="formGroup03">
      <div class="field">
        <ng-template matStepLabel>
          Departamento
        </ng-template>
        <mat-form-field class="field-max field-padding">
          <input
            matInput
            autocomplete="false"
            formControlName="departamento"
            required
            placeholder="Departamento"
          />
          <mat-error
            *ngIf="
              formGroup03.controls['departamento'].hasError('minlength') &&
              !formGroup03.controls['departamento'].hasError('required')
            "
          >
            Departamento deve ter no minimo <strong>3 caraters</strong>
          </mat-error>

          <mat-error
            *ngIf="formGroup03.controls['departamento'].hasError('maxlength')"
          >
            Departamento não deve ter acima de <strong>80 caraters</strong>
          </mat-error>

          <mat-error
            *ngIf="formGroup03.controls['departamento'].hasError('required')"
          >
            Departamento é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button matStepperPrevious class="large">
          <mat-icon>arrow_upward</mat-icon>
          Anterior
        </button>
        <div class="spaced">
          <button
            color="primary"
            class="large"
            mat-raised-button
            matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
            Avançar
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel
      >Concluir com processo de {{ !projeto.id ? "cadastro" : "alteração" }} de
      projeto</ng-template
    >
    <div class="spaced">
      <button mat-stroked-button matStepperPrevious class="large">
        <mat-icon>arrow_upward</mat-icon>
        Anterior
      </button>
      <button
        class="mat-elevation-z8"
        *ngIf="!projeto.id"
        color="primary"
        mat-raised-button
        class="large"
        (click)="onSaveButton(stepper)"
      >
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button
        color="primary"
        class="large"
        mat-raised-button
        (click)="onSaveButtonAndList(stepper)"
      >
        <mat-icon>save</mat-icon>
        {{ !projeto.id ? "Salvar e listar" : "Salvar" }}
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
