mat-divider {
  padding-bottom: 2.6%;
}
mat-label {
  font-weight: bold;
}

@media only screen and (min-width: 993px) {
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
}

@media only screen and (max-width: 600px) {
  mat-label {
    font-size: small;
  }
  .text-value {
    font-size: medium;
  }
  .max-size {
    font-size: small;
    width: 100%;
    text-align: center;
    text-align-last: center;
  }
  a {
    font-size: small;
    color: black;
  }
}
