<mat-vertical-stepper
  [linear]="!turma.id"
  #stepper
  class="container mat-elevation-z6"
>
  <mat-step [stepControl]="formGroup01">
    <form [formGroup]="formGroup01">
      <div class="field">
        <ng-template matStepLabel>
          Sigla da turma
        </ng-template>
        <mat-form-field class="field field-padding">
          <input
            matInput
            autocomplete="false"
            formControlName="sigla"
            required
            placeholder="Sigla"
          />
          <mat-error
            *ngIf="
              formGroup01.controls['sigla'].hasError('minlength') &&
              !formGroup01.controls['sigla'].hasError('required')
            "
          >
            Descrição deve ter no minimo <strong>3 caraters</strong>
          </mat-error>

          <mat-error
            *ngIf="formGroup01.controls['sigla'].hasError('maxlength')"
          >
            Descrição não deve ter acima de <strong>24 caraters</strong>
          </mat-error>

          <mat-error *ngIf="formGroup01.controls['sigla'].hasError('required')">
            Descrição é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="nivel">
          <mat-form-field class="field field-padding">
            <mat-select
            matInput
            formControlName="curso"
            required
            placeholder="Curso"
            >
            <mat-option *ngIf="cursoError$ | async"
            >Ocorreu um erro ao carregar cursos...
          </mat-option>
          <ng-container *ngFor="let curso of cursos$ | async">
            <mat-option *ngIf="!curso">lista vasia</mat-option>
            <mat-option [value]="curso.id"> {{ curso.nome }} </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="formGroup01.controls['curso'].hasError('required')">
          Curso é <strong>obrigatorio</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>

        <div class="spaced">
          <button
            color="primary"
            class="large"
            mat-raised-button
            matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
            Avançar
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel
      >Concluir com processo de {{ !turma.id ? "cadastro" : "alteração" }} de
      turma</ng-template
    >
    <div class="spaced">
      <button mat-stroked-button matStepperPrevious class="large">
        <mat-icon>arrow_upward</mat-icon>
        Anterior
      </button>
      <button
        class="mat-elevation-z8"
        *ngIf="!turma.id"
        color="primary"
        mat-raised-button
        class="large"
        (click)="onSaveButton(stepper)"
      >
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button
        color="primary"
        class="large"
        mat-raised-button
        (click)="onSaveButtonAndList(stepper)"
      >
        <mat-icon>save</mat-icon>
        {{ !turma.id ? "Salvar e listar" : "Salvar" }}
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>

<ul class="squares"></ul>
