<div class="container">

  <mat-card alignment="center">
    <mat-card-header>
      <mat-card-title>Progectos</mat-card-title>
      <mat-card-subtitle>Detalhe do Projecto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>Pagina indisponivel no momento...</h1>
      <h3>A pagina para detalhe do Projecto selecionado não pode ser exibida no monento...</h3>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button (click)="back()">Ok</button>
    </mat-card-actions>
  </mat-card>

</div>
