<div class="container mat-elevation-z8 table hide-on-med-and-down">
  <button class="btn-large" mat-raised-button color="primary" (click)="add()">
    <mat-icon>add</mat-icon>
    Cadastrar Nova Turma
  </button>
  <table *ngIf="turmas; else loading" mat-table [dataSource]="turmas" matSort>

    <ng-container matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sigla</th>
      <td mat-cell *matCellDef="let turma">
        {{ turma?.sigla }}
      </td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
      <td mat-cell *matCellDef="let turma">
        {{ turma?.curso.nome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhe">
      <th mat-header-cell *matHeaderCellDef>Detalhe</th>
      <td mat-cell *matCellDef="let turma">
        <button mat-raised-button [routerLink]="['detalhe', turma.id]">
          <mat-icon color="primary">description</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let turma">
        <button mat-raised-button (click)="edit(turma.id)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let turma">
        <button
          mat-raised-button
          matTooltipShowDelay="2000"
          matTooltipHideDelay="2000"
          matTooltip="Uma vez excluido não tem como reverter as alterações."
          (click)="openDeleteDialog(turma.id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="noData">
      <th mat-footer-cell *matFooterCellDef>Lista vasia.</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaydColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displaydColumns"></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: true }"
    ></tr>
  </table>

  <ng-template #loading>
    <div *ngIf="error$ | async as error; else showError">
      <span>
        Erro ao carregar turma. Tente novamente mais tarde.
      </span>
    </div>
    <ng-template #showError>
      <mat-progress-bar mode="indeterminate" color="warn"> </mat-progress-bar>
    </ng-template>
  </ng-template>
</div>

<!-- Modo Mobile inicializado  -->

<div class="hide-on-large-only">
  <mat-nav-list
    class="mat-elevation-z8 container"
    *ngIf="turmas; else loadingOnList"
  >
    <button class="btn-large" mat-raised-button color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
      Cadastrar Nova Turma
    </button>
    <a
      mat-list-item
      (click)="openMoreOptionDialog(item.id)"
      *ngFor="let item of turmasList"
    >
      <mat-icon matListIcon class="mat-18">book</mat-icon>
      <h5 matLine>{{ item?.sigla }}</h5>
      <p matLine>{{ item?.curso?.nome }}</p>
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
  <ng-template #loadingOnList>
    <mat-progress-bar
      mode="indeterminate"
      color="warn"
      class="hide-on-large-only"
    ></mat-progress-bar>
  </ng-template>
</div>
