<div class="container">
  <div
    class="container"
    *ngIf="departamento$ | async as departamento; else loading"
  >
    <mat-accordion class="headers-align mat-elevation-z8">
      <mat-expansion-panel #panel1 [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Detalhe do Departamento
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-label>Nome</mat-label>: {{ departamento?.nome }}
        <mat-action-row>
          <button
            class="btn-large"
            [routerLink]="['/departamentos/edit', departamento?.id]"
            mat-raised-button
            color="primary"
          >
            <mat-icon class="mat-18">edit</mat-icon>
            Editar
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel #panel2>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mais detalhe
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-label>Criado em</mat-label>: {{ departamento?.createdAt | date }}
        <div *ngIf="departamento?.lastModifiedAt">
          <mat-divider></mat-divider>
          <mat-label>Ultima alteração em</mat-label>:
          {{ departamento?.lastModifiedAt | date }}
        </div>
        <div *ngIf="departamento?.totalModified > 0">
          <mat-divider></mat-divider>
          <mat-label>Total de alterações</mat-label>:
          {{
            departamento?.totalModified < 2
              ? departamento?.totalModified + " vez"
              : departamento?.totalModified + " vezes"
          }}
        </div>
        <mat-divider></mat-divider>
        <mat-label>Pro</mat-label>: {{ departamento?.admin.nome }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
