
<section class="about-us">
  <div class="contenedor1">
    <div class="contenedor-articulo">
      <div
        class="articulo"
        data-aos="zoom-in-right"
      >
        <mat-icon color="primary">verified_user</mat-icon>
        <h3>Número de Série Inválido!</h3>
        <p>Nenhum dados de usuario foi encontrado com numero <br> de série inserido</p>
        <a mat-raised-button color="primary" mat-dialog-close>
          <mat-icon>close</mat-icon>
          Fechar
        </a>
      </div>
    </div>
  </div>
</section>
