.spaced > * {
  margin-top: 0.3rem;
}
.field-max {
  width: 95%;
}

.field-min-1 {
  width: 32%;
}
.field-min-2 {
  width: 12%;
}


mat-vertical-stepper {
  margin-top: 3%;
  margin-bottom: 5.6%;
}

@media only screen and (min-width: 993px) {
  mat-vertical-stepper {
    margin-top: 3%;
    margin-bottom: 6.6%;
  }
}


@media only screen and (min-width: 600px) and (max-width: 992px) {

}

@media only screen and (max-width: 600px) {
  mat-vertical-stepper {
    margin-top: 8%;
    margin-bottom: 28.6%;
  }
  mat-step{
    padding-bottom: 4%;
  }

  .field-max {
    width: 98%;
  }

  .field-min-1 {
    width: 98%;
  }
  .field-min-2 {
    width: 98%;
  }

}
