<mat-vertical-stepper
  [linear]="!monografia.fileid"
  #stepper
  class="container mat-elevation-z6"
>
  <!-- Selecionar Fixeiro -->

  <mat-step>
    <ng-template matStepLabel>Monografia</ng-template>
    <div class="spaced">
      <input
        type="file"
        id="file"
        #file
        (change)="onFileSelected($event)"
        hidden
      />
      <div style="margin: 0% 5%;">
        <pdf-viewer
          class="mat-elevation-z8"
          [src]="pdfSrc"
          [render-text]="'true'"
          [show-all]="false"
          [fit-to-page]="true"
          [autoresize]="'true'"
          [original-size]="true"
          [show-borders]="false"
          [stick-to-page]="true"
          style="display: block; width: 100%; height: 100%;"
        >
        </pdf-viewer>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="large"
        (click)="file.click()"
        style="text-align: left;"
      >
        <mat-icon>folder_open</mat-icon>
        Selecionar arquivo
      </button>
      <button mat-stroked-button matStepperPrevious class="large">
        <mat-icon>arrow_upward</mat-icon>
        Anterior
      </button>
      <button color="primary" class="large" mat-raised-button matStepperNext>
        <mat-icon>arrow_downward</mat-icon>
        Avançar
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="formGroup01">
    <form [formGroup]="formGroup01">
      <div class="field">
        <ng-template matStepLabel>
          Tema & duração do monografia
        </ng-template>
        <mat-form-field class="field field-padding">
          <input
            matInput
            autocomplete="false"
            formControlName="pagina"
            required
            type="number"
            placeholder="Paginas"
          />
          <mat-error
            *ngIf="
              formGroup01.controls['pagina'].hasError('min') &&
              !formGroup01.controls['pagina'].hasError('required')
            "
          >
            Monografia deve ter no minino <strong>20 paginas</strong>
          </mat-error>

          <mat-error *ngIf="formGroup01.controls['pagina'].hasError('max')">
            Monografia não deve ter acima de <strong>100 paginas</strong>
          </mat-error>

          <mat-error
            *ngIf="formGroup01.controls['pagina'].hasError('required')"
          >
            Numero de paginas é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field field-padding">
          <mat-select
            matInput
            formControlName="projeto"
            required
            placeholder="Grupo"
          >
            <ng-container *ngFor="let projeto of projetos$ | async">
              <mat-option [value]="projeto.id">
                ({{ projeto.grupo.posicao }})
                {{ projeto.tema }}
                [ {{ projeto.grupo.turma.sigla }} ]
                {{ projeto.grupo.anoLetivo }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error
            *ngIf="formGroup01.controls['projeto'].hasError('required')"
          >
            Grupo é <strong>obrigatorio</strong>
          </mat-error>
        </mat-form-field>
        <div class="spaced">
          <button
            color="primary"
            class="large"
            mat-raised-button
            matStepperNext
          >
            <mat-icon>arrow_downward</mat-icon>
            Avançar
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel
      >Concluir com processo de
      {{ !monografia.fileid ? "cadastro" : "alteração" }} de
      monografia</ng-template
    >
    <div class="spaced">
      <button mat-stroked-button matStepperPrevious class="large">
        <mat-icon>arrow_upward</mat-icon>
        Anterior
      </button>
      <button
        class="mat-elevation-z8"
        *ngIf="!monografia.id"
        color="primary"
        mat-raised-button
        class="large"
        (click)="onSaveButtonAndList(stepper)"
      >
        <mat-icon>save</mat-icon>
        Salvar
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>

<ul class="squares"></ul>
