<div [hidden]="onChangeContext">
  <mat-card color="primary" style="padding-bottom: 28px; padding-left: 10%;">
    <div class="space-arround">
      <form [formGroup]="formGroupSearch">

        <mat-form-field style="width: 8%; margin-bottom: 10px; padding-right: 10px;">
          <mat-select matInput autocomplete="'false'" formControlName="anoLetivo" placeholder="Ano letivo">
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 16%; padding-right: 10px;">
          <mat-select matInput autocomplete="'false'" formControlName="curso" placeholder="Curso">
            <mat-option *ngFor="let curso of cursos" [value]="curso.id">
              {{ curso?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 8%; margin-bottom: 10px; padding-right: 10px;">
          <mat-select matInput autocomplete="'false'" formControlName="classe" placeholder="Classe">
            <mat-option *ngFor="let classe of classes" [value]="classe.id">
              {{ classe?.descricao }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 8%; margin-bottom: 10px; padding-right: 10px;">
          <mat-select matInput autocomplete="'false'" formControlName="turma" placeholder="Turma">
            <mat-option *ngFor="let turma of turmas" [value]="turma.id">
              {{ turma?.sigla }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 16%; margin-bottom: 10px; padding-right: 10px;">
          <mat-select matInput autocomplete="'false'" formControlName="diciplina" placeholder="Diciplina">
            <mat-option *ngFor="let diciplina of diciplinas" [value]="diciplina.id">
              {{ diciplina?.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search" style="width: 28%;">
          <input #key matInput formControlName="estudanteNome" type="text"
            autocomplete="false" placeholder="Procurar estudante por nome..." />
          <span matSuffix *ngIf="!(key.value.length != 0)">
            <mat-icon class="mat-1" color="primary">search</mat-icon>
          </span>

          <span matSuffix *ngIf="key.value.length != 0">
            <button mat-icon-button (click)="key.value = null; cleanSearchField()">
              <mat-icon color="primary">close</mat-icon>
            </button>
          </span>
        </mat-form-field>
      </form>
    </div>
  </mat-card>
</div>

<div [hidden]="!onChangeContext">
  <mat-card color="primary">
    <div>
      <span>
        <button class="btn-large" mat-raised-button color="primary" (click)="back()">
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </span>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
