<div class="container">
  <div
    class="container"
    *ngIf="orientador$ | async as orientador; else loading"
  >
    <mat-accordion class="headers-align mat-elevation-z8">
      <mat-expansion-panel #panel1 [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ orientador?.nome }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-label>Nome</mat-label>: {{ orientador?.nome }}
        <mat-divider></mat-divider>
        <mat-label>Sobrenome</mat-label>: {{ orientador?.sobreNome }}
        <mat-divider></mat-divider>
        <mat-label>Sexo</mat-label>:
        {{ orientador?.sexo === "M" ? "Masculino" : "Femenino" }}
        <mat-divider></mat-divider>
        <mat-label>Data/Nascimento</mat-label>:
        {{ orientador?.dataNascimento | date }}
        <mat-divider></mat-divider>
        <mat-label>B.I/P</mat-label>: {{ orientador?.bi }}
        <mat-divider></mat-divider>
        <mat-label>Telefone</mat-label>: {{ orientador?.fone }}
        <mat-divider></mat-divider>
        <mat-label>Email</mat-label>: {{ orientador?.email }}
        <mat-divider></mat-divider>
        <mat-label>Endereco</mat-label>: {{ orientador?.endereco }}
        <mat-divider></mat-divider>
        <mat-label>Especialidade</mat-label>:
        <a [routerLink]="['/especialidades/detalhe', orientador.especialidade.id]" color="primary"
          >{{ orientador?.especialidade?.descricao }}
        </a>
        <mat-action-row>
          <button
            class="btn-large"
            [routerLink]="['/orientadores/edit', orientador?.id]"
            mat-raised-button
            color="primary"
          >
            <mat-icon class="mat-18">edit</mat-icon>
            Editar
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel #panel2>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mais detalhe
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-label>Criado em</mat-label>: {{ orientador?.createdAt | date }}
        <div *ngIf="orientador?.lastModifiedAt">
          <mat-divider></mat-divider>
          <mat-label>Ultima alteração em</mat-label>:
          {{ orientador?.lastModifiedAt | date }}
        </div>
        <div *ngIf="orientador?.totalModified > 0">
          <mat-divider></mat-divider>
          <mat-label>Total de alterações</mat-label>:
          {{
            orientador?.totalModified < 2
              ? orientador?.totalModified + " vez"
              : orientador?.totalModified + " vezes"
          }}
        </div>
        <mat-divider></mat-divider>
        <mat-label>Pro</mat-label>: {{ orientador?.adminInterno.nome }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
