
<div class="container fix-bottom">
  <div class="container">
    <mat-accordion class="headers-align mat-elevation-z8">
      <mat-expansion-panel
        #secondChild
        [expanded]="firstChild.opened"
        (afterCollapse)="firstChild.open()"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Iniciar Sessaao
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sign-in></app-sign-in>
      </mat-expansion-panel>

      <mat-expansion-panel
        #firstChild
        [expanded]="!secondChild.opened"
        (afterCollapse)="secondChild.open()"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ativar conta
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-sign-in></app-sign-in>
        <mat-action-row>
          <button
            class="btn-large"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Login
            <mat-icon>send</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- <div class="container mat-elevation-z8">
  <app-active-account></app-active-account>
</div> -->
