.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
div.fix-bottom {
  margin-bottom: 1%;
}

@media only screen and (min-width: 993px) {
  .container {
    margin-top: 5%;
    width: 72%;
  }
}
@media only screen and (max-width: 600px) {
  div.fix-bottom {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .container {
    margin-top: 5%;
    width: 95%;
  }
}


