<mat-sidenav-container class="sidenav-container" backgroundColor="primary">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    backgroundColor="primary"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isHandset$ | async"
  >
    <mat-divider> </mat-divider>
    <div style="width: 100%; height: 160px; padding: 8px 0px 0px 90px;">
      <div
        style="width: 80%; height: 100%; background-color: #fff; border-radius: 50%; margin-left: -60px;"
      >
        <!-- <mat-icon
          color="primary"
          style="position: relative; top: 6px; left: 4.5px; font-size: 60pt;"
          >school
        </mat-icon> -->

        <img
          src="http://localhost:8080/litroft/api/v1/rm/mono/downloadLogo/0485a27c-59a6-4b05-ac56-078dfc537dc1"
          style="position: relative; top: 6px; left: 10%; height: 80%; width: 80%;"
        />
      </div>

      <a
        mat-icon-button
        (click)="drawer.close()"
        color="primary"
        style="position: relative; top: -100%; right: 28%; font-size: 15pt;"
      >
        <mat-icon color="primary">arrow_back</mat-icon>
      </a>
    </div>
    <mat-divider> </mat-divider>
    <mat-toolbar>
      <h2 style="text-align: center; width: 90%;">
        {{ selectedInst }}
      </h2>
    </mat-toolbar>
    <mat-divider> </mat-divider>

    <mat-nav-list>
      <a mat-list-item *ngFor="let curso of cursosList">
        <h1 matLine>{{ curso?.nome }}</h1>
        <p matLine><strong>Duração:</strong> {{ curso?.duracao }} anos</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="padding-bottom: 40px;"
      class="container mat-elevation-z8 table hide-on-med-and-down"
    >
      <table
        *ngIf="institutos; else loading"
        mat-table
        [dataSource]="institutos"
        matSort
      >
        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
           Sigla
          </th>
          <td mat-cell *matCellDef="let instituto">
            {{ instituto?.sigla }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nome do Instituto
          </th>
          <td mat-cell *matCellDef="let instituto">
            {{ instituto?.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="formacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Area de Formação
          </th>
          <td mat-cell *matCellDef="let instituto">
            {{ instituto?.areaFormacao.descricao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cursos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cursos
          </th>
          <td mat-cell *matCellDef="let instituto">
            {{ instituto?.cursos }}
          </td>
        </ng-container>

        <ng-container matColumnDef="localizacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Localização
          </th>
          <td mat-cell *matCellDef="let instituto">
            {{ instituto?.local?.provincia?.nome }},
            {{ instituto?.local?.monicipio?.nome }}
            ({{ instituto?.local?.destrito }})
          </td>
        </ng-container>

        <ng-container matColumnDef="detalhe">
          <th mat-header-cell *matHeaderCellDef>detalhe dos cursos</th>
          <td mat-cell *matCellDef="let instituto">
            <button
              mat-raised-button
              (click)="onSelectedInstituto(instituto); drawer.open()"
            >
              <mat-icon color="primary">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef>Sobre</th>
          <td mat-cell *matCellDef="let instituto">
            <button mat-raised-button (click)="onSelectedInstituto(instituto)">
              <mat-icon color="primary">info</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <th mat-footer-cell *matFooterCellDef>Lista vasia.</th>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displaydColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displaydColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{ hide: true }"
        ></tr>
      </table>

      <ng-template #loading>
        <div *ngIf="error$ | async as error; else showError">
          <span>
            Erro ao carregar institutos. Tente novamente mais tarde.
          </span>
        </div>
        <ng-template #showError>
          <mat-progress-bar mode="indeterminate" color="warn">
          </mat-progress-bar>
        </ng-template>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
