<div class="container mat-elevation-z8 table hide-on-med-and-down">
  <button class="btn-large" mat-raised-button color="primary" (click)="add()">
    <mat-icon>add</mat-icon>
    Cadastrar Novo Coordenador
  </button>
  <table
    *ngIf="coordenadores; else loading"
    mat-table
    [dataSource]="coordenadores"
    matSort
  >

    <ng-container matColumnDef="coordenador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let coordenador" (mouseenter)="showPerfil()">
        {{ coordenador?.nome +' '+ coordenador?.sobreNome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
      <td mat-cell *matCellDef="let coordenador">
        {{ coordenador?.sexo === "M" ? "Masculino" : "Femenino" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="classe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
      <td mat-cell *matCellDef="let coordenador">
        {{ coordenador?.fone }}
      </td>
    </ng-container>

    <ng-container matColumnDef="anoletivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano Letivo</th>
      <td mat-cell *matCellDef="let coordenador">
        {{ coordenador?.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhe">
      <th mat-header-cell *matHeaderCellDef>Detalhe</th>
      <td mat-cell *matCellDef="let coordenador">
        <button mat-raised-button [routerLink]="['detalhe', coordenador.id]">
          <mat-icon color="primary">description</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let coordenador">
        <button mat-raised-button (click)="edit(coordenador)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let coordenador">
        <button
          mat-raised-button
          matTooltipShowDelay="2000"
          matTooltipHideDelay="2000"
          matTooltip="Uma vez excluido não tem como reverter as alterações."
          (click)="openDeleteDialog(coordenador.id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="noData">
      <th mat-footer-cell *matFooterCellDef>Lista vasia.</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaydColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displaydColumns"></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: true }"
    ></tr>
  </table>

  <ng-template #loading>
    <div *ngIf="error$ | async as error; else showError">
      <span>
        Erro ao carregar coordenadores. Tente novamente mais tarde.
      </span>
    </div>
    <ng-template #showError>
      <mat-progress-bar mode="indeterminate" color="warn"> </mat-progress-bar>
    </ng-template>
  </ng-template>
</div>

<!-- Modo Mobile inicializado  -->

<div class="hide-on-large-only">
  <mat-nav-list
    class="mat-elevation-z8 container"
    *ngIf="coordenadores; else loadingOnList"
  >
    <button class="btn-large" mat-raised-button color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
      Cadastrar Novo Coordenador
    </button>
    <a
      mat-list-item
      (click)="openMoreOptionDialog(item.id)"
      *ngFor="let item of coordenadoresList"
    >
      <mat-icon matListIcon class="mat-18">person</mat-icon>
      <!-- <h5 matLine>{{ item?.nome }} {{ item?.sobreNome }}</h5> -->
      <!-- <p matLine>{{ item?.fone }}</p> -->
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
  <ng-template #loadingOnList>
    <mat-progress-bar
      mode="indeterminate"
      color="warn"
      class="hide-on-large-only"
    ></mat-progress-bar>
  </ng-template>
</div>
