<div class="container mat-elevation-z8 table hide-on-med-and-down">
  <button class="btn-large" mat-raised-button color="primary" (click)="add()">
    <mat-icon>add</mat-icon>
    Formar Novo Grupo
  </button>
  <table *ngIf="grupos; else loading" mat-table [dataSource]="grupos" matSort>
    <ng-container matColumnDef="posicao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</th>
      <td mat-cell *matCellDef="let grupo">
        {{ grupo?.posicao }}
      </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let grupo">
        <ng-container *ngIf="grupo.descricao.length > 37">
          {{ grupo?.descricao.substring(0, 37).concat('...') }}
        </ng-container>
        <ng-container *ngIf="grupo.descricao.length < 37">
          {{ grupo?.descricao }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
      <td mat-cell *matCellDef="let grupo">
        {{ grupo?.orientador?.especialidade.descricao }}
      </td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
      <td mat-cell *matCellDef="let grupo">
        {{ grupo?.curso?.nome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="turma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Turma</th>
      <td mat-cell *matCellDef="let grupo">
        {{ grupo?.turma?.sigla }}
      </td>
    </ng-container>

    <ng-container matColumnDef="anoLetivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano lectivo</th>
      <td mat-cell *matCellDef="let grupo">
        {{ grupo?.anoLetivo.ano }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhe">
      <th mat-header-cell *matHeaderCellDef>Detalhe</th>
      <td mat-cell *matCellDef="let grupo">
        <button mat-raised-button [routerLink]="['detalhe', grupo.id]">
          <mat-icon color="primary">description</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let grupo">
        <button mat-raised-button (click)="edit(grupo.id)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let grupo">
        <button mat-raised-button matTooltipShowDelay="2000" matTooltipHideDelay="2000"
          matTooltip="Uma vez excluido não tem como reverter as alterações." (click)="openDeleteDialog(grupo.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="noData">
      <th mat-footer-cell *matFooterCellDef>Lista vasia.</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaydColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displaydColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ hide: true }"></tr>
  </table>

  <ng-template #loading>
    <div *ngIf="error$ | async as error; else showError">
      <span>
        Erro ao carregar grupos. Tente novamente mais tarde.
      </span>
    </div>
    <ng-template #showError>
      <mat-progress-bar mode="indeterminate" color="warn"> </mat-progress-bar>
    </ng-template>
  </ng-template>
</div>

<!-- Modo Mobile inicializado  -->

<div class="hide-on-large-only">
  <mat-nav-list class="mat-elevation-z8 container" *ngIf="grupos; else loadingOnList">
    <button class="btn-large" mat-raised-button color="primary" (click)="add()">
      <mat-icon>add</mat-icon>
      Cadastrar Novo Grupo
    </button>
    <a mat-list-item (click)="openMoreOptionDialog(item.id)" *ngFor="let item of gruposList">
      <mat-icon matListIcon class="mat-18">group</mat-icon>
      <h5 matLine>{{ item?.descricao }}</h5>
      <h5 matLine>{{item?.turma?.sigla}} | {{ item?.anoLetivo }}</h5>
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
  <ng-template #loadingOnList>
    <mat-progress-bar mode="indeterminate" color="warn" class="hide-on-large-only"></mat-progress-bar>
  </ng-template>
</div>
