<mat-grid-list cols="1" [rowHeight]="'200px'" [gutterSize]="'10px'" class="container">
  <mat-grid-tile class="container mat-elevation-z3" [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" [rowHeight]="'320px'" [gutterSize]="'10px'" class="container">
  <mat-grid-tile class="container mat-elevation-z3" [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-tile class="container mat-elevation-z3" [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-list cols="4" [rowHeight]="'50px'" [gutterSize]="'10px'" class="container">
      <mat-grid-tile class="container mat-elevation-z3" [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile class="container mat-elevation-z3" [colspan]="1" [rowspan]="1">
          </mat-grid-tile>
  </mat-grid-list>
</mat-grid-list>
