.floating-btn-full {
  width: 60px;
  height: 60px;
  background: #0300c7c9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 70px;
  bottom: 50px;
  transition: background 0.25;
  cursor: pointer;
}

.floating-btn-down {
  width: 50px;
  height: 50px;
  background: #0300c7c9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 78px;
  bottom: 120px;
  transition: background 0.25;
  cursor: pointer;
  visibility: hidden;
  /* display: none; */
}

.readingMode {
  transition: all 1.5s;
  background-color: #fff;
}

.readingMode-active {
  transition: all 1.5s;
  background-color: rgb(82, 86, 89);
}

.floating-btn {
  transition: all 1.5s;
  background: #3f51b5;
}

.float-btn-icon-2 {
  transition: all 1.5s;
  color: white;
}
.float-btn-icon-3 {
  transition: all 1.5s;
  color: white;
}

.floating-btn-active {
  visibility: visible;
  background: rgb(242, 242, 242);
}

.float-btn-icon-1-active {
  visibility: visible;
  transition: all 1.5s;
  color: #606060;
}
.float-btn-icon-2-active {
  visibility: visible;
  transition: all 1.5s;
  color: #606060;
}
.float-btn-icon-3-active {
  visibility: visible;
  transition: all 1.5s;
  color: #606060;
}

button.btn-large {
  text-align-last: left;
  text-align: left;
  width: 80%;
}

button.btn-large-1 {
  margin-left: 8px;
  text-align-last: left;
  text-align: left;
  width: 18%;
}

/* button.btn-large {
  text-align: start;
  width: 100%;
} */
@media only screen and (min-width: 993px) {
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
}
@media only screen and (max-width: 600px) {
  button.btn-large {
    text-align-last: left;
    text-align: left;
    width: 100%;
  }

  button.btn-large-1 {
    margin-top: 8px;
    margin-left: 0px;
    text-align-last: left;
    text-align: left;
    width: 100%;
  }
}
