<mat-card color="primary">
  <div>
    <span>
      <button class="btn-large" mat-raised-button color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
      <button class="btn-large-1" mat-raised-button color="primary" (click)="onActiveDetails()">
        <mat-icon>view_list</mat-icon>Detalhe da monografia
      </button>
    </span>
  </div>
</mat-card>

<app-detalhe></app-detalhe>

<a class="floating-btn-down" (click)="back()">
  <mat-icon class="float-btn-icon-2">arrow_back</mat-icon>
</a>
<a class="floating-btn-full" (click)="onEnableReadMode()">
  <mat-icon class="float-btn-icon-3">{{ iconState }}</mat-icon>
</a>


<div class="readingMode">
  <pdf-viewer class="mat-elevation-z8" [src]="publicService.pdfSrc" [render-text]="true" [stick-to-page]="true"
    [fit-to-page]="true" [autoresize]="true" [show-all]="true" [show-borders]="true" style="display: inline;">
  </pdf-viewer>
</div>
