<header>
  <div class="contenedor">
    <section class="contenido-header">
      <section class="textos-header">
        <h1>Gerencie escolas de uma maneira diferente.</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorum.</p>
        <a mat-raised-button color="primary">
          Saiba mais</a>
      </section>
      <img src="../../../assets/img/primeraIlustracion.svg" alt="">
    </section>
  </div>
</header>
<section class="about-us">
  <div class="contenedor1">
    <h2 class="titulo">A sua escolha com um simples click.</h2>
    <div class="contenedor-articulo">
      <div class="articulo" data-aos="zoom-in-right">
        <mat-icon color="primary">school</mat-icon>
        <h3>Ensino Primario</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(0)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <mat-icon color="primary">school</mat-icon>
        <h3>Ensino do I Ciclo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(1)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <!-- <i class="fas fa-cog"></i> -->
        <mat-icon color="primary">school</mat-icon>
        <h3>Ensino do II Ciclo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(2)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <!-- <i class="fas fa-cog"></i> -->
        <mat-icon color="primary">school</mat-icon>
        <h3>Ensino Primario ao I Ciclo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(2)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <!-- <i class="fas fa-cog"></i> -->
        <mat-icon color="primary">school</mat-icon>
        <h3>I Ciclo ao II Ciclo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(2)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <!-- <i class="fas fa-cog"></i> -->
        <mat-icon color="primary">school</mat-icon>
        <h3>Ensino Primario ao II Ciclo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
        <a mat-raised-button color="primary" (click)="listarEscola(2)">
          <mat-icon>list</mat-icon>
          Listar escolas
        </a>
      </div>
    </div>
  </div>
</section>
