<div [hidden]="onChangeContext">
  <mat-card color="primary">
      <div class="space-arround">
          <mat-icon class="icon-settings" color="primary" (click)="onFilterSearch()"
            >settings</mat-icon
          >
          <mat-form-field class="search">
        <input
          #key
          matInput
          type="text"
          (keyup)="find($event, key.value)"
          autocomplete="false"
          placeholder="Procurar estudantes por nome..."
        />
        <span matSuffix *ngIf="!(key.value.length != 0)"
          ><mat-icon class="mat-1" color="primary">search</mat-icon>
        </span>

        <span matSuffix *ngIf="key.value.length != 0">
          <button
            mat-icon-button
            (click)="key.value = null; cleanSearchField()"
          >
            <mat-icon color="primary">close</mat-icon>
          </button>
        </span>
        <span matPrefix>
          <a
            matTooltip="Filtrar lista estudantes"
            mat-flat-button
            class="more-button mat-20"
            [matMenuTriggerFor]="menu"
            aria-label="Toggle menu"
          >
            <mat-icon color="primary">more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu" xPosition="before">
            <button
              mat-menu-item
              class="more-button"
              [matMenuTriggerFor]="menuCurso"
              aria-label="Toggle menu"
            >
              Cursos
            </button>
          </mat-menu>

          <mat-menu #menuCurso xPosition="before">
            <button mat-menu-item
            (click)="showAll()"
            >
              {{
                (cursosError$ | async) === false
                  ? "Ocorreu um erro ao carregar cursos..."
                  : "Todos os Cursos"
              }}
            </button>

            <button
              #btnCurso
              mat-menu-item
              [matMenuTriggerFor]="menuSexo"
              *ngFor="let curso of cursos$ | async"
              (mouseleave)="logName(curso.nome)"
              (onkeyup)="logName(curso.nome)"
            >
              {{ curso.nome }}
            </button>

            <mat-menu #menuSexo xPosition="before">
              <button mat-menu-item (click)="filterByCurso('')">
                <mat-icon class="mat-18">alarm_on</mat-icon>
                Todos
              </button>
              <button mat-menu-item (click)="filterByCurso('M')">
                <mat-icon class="mat-18">alarm_on</mat-icon>
                Masculino
              </button>
              <button mat-menu-item (click)="filterByCurso('F')">
                <mat-icon class="mat-18">alarm_on</mat-icon>
                Femenino
              </button>
            </mat-menu>
          </mat-menu>
        </span>
      </mat-form-field>
    </div>
  </mat-card>
</div>

<div [hidden]="!onChangeContext">
  <mat-card color="primary">
    <div>
      <span>
        <button
          class="btn-large"
          mat-raised-button
          color="primary"
          (click)="back()"
        >
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </span>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
