<mat-toolbar *ngIf="!enableReadMode" color="primary" class="mat-elevation-z4 center-on-small-only">
  <!-- *ngIf="!enableReadMode" -->
  <mat-toolbar-row>
    <mat-icon style="font-size: 32pt; position: relative; top: -10px;">dashboard</mat-icon>
    <!-- <img src="../assets/img/logo.png" width="80px" height="80px" /> -->
    <button style="font-size: 17pt; text-align: left; margin-left: 2px;" mat-button>
      {{ title }}
    </button>
    <button mat-flat-button *ngIf="authService.loggedIn()" class="hide-on-med-and-down "
      style="position: relative; left: 67%;" color="primary" (click)="logOut(drawer)">
      <!-- <img src="./assets/logouts.png" /> -->
      <mat-icon>power_settings_new</mat-icon>
      Terminar Sessão
    </button>
    <button mat-flat-button *ngIf="!authService.loggedIn()" class="hide-on-med-and-down" id="btnOnFirstRow2"
      color="primary" [routerLink]="['/login']">
      Iniciar Sessão
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row id="row2" class="hide-on-small-only">
    <span *ngIf="authService.loggedIn()" class="hide-on-small-only spacer">
      <a [routerLinkActive]="'active'" [routerLink]="['home']" mat-button>
        <mat-icon left>home</mat-icon>
        Home
      </a>
      <a routerLinkActive="active" [routerLink]="['estudantes']" mat-button *ngIf="showOrHideMenu">
        <mat-icon left>person_pin</mat-icon>
        Estudantes
      </a>
      <a routerLinkActive="active" [routerLink]="['institutos']" mat-button *ngIf="!showOrHideMenu">
        <mat-icon left>school</mat-icon>
        Escolas
      </a>
        <a routerLinkActive="active" [routerLink]="['institutos']" mat-button>
          <mat-icon>view_quilt</mat-icon>
          Pauta
        </a>
        <a routerLinkActive="active" [routerLink]="['institutos']" mat-button>
          <mat-icon>view_quilt</mat-icon>
          Certificados
        </a>
        <a routerLinkActive="active" [routerLink]="['institutos']" mat-button>
          <mat-icon>view_quilt</mat-icon>
          Vitrine
        </a>
      <ng-container *ngIf="showOrHideMenuByNivel === 'Ensino do II Ciclo'">
        <a style="position: relative; left: 30%;" routerLinkActive="active" (click)="switchBetweenPages()" mat-button
          *ngIf="showOrHideMenu">
          <mat-icon right>collections_bookmark</mat-icon>
          {{ btnMonografiaText }}
        </a>
      </ng-container>
    </span>
    <span *ngIf="!authService.loggedIn()" class="hide-on-small-only spacer">
      <a [routerLinkActive]="'active'" [routerLink]="['/public']" mat-button>
        <mat-icon left>home</mat-icon>
        Home
      </a>
      <a routerLinkActive="active" [routerLink]="['institutos']" mat-button>
        <mat-icon>school</mat-icon>
        Escolas
      </a>
      <a routerLinkActive="active" [routerLink]="['matriculas']" mat-button>
        <mat-icon>assignment</mat-icon>
        Matriculas
      </a>
      <a routerLinkActive="active" [routerLink]="['inscricao/subscriptions-options']" mat-button>
        <mat-icon>assignment</mat-icon>
        Inscrições
      </a>
      <a routerLinkActive="active" [routerLink]="['institutos']" mat-button>
        <mat-icon>view_quilt</mat-icon>
        Vitrine
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="false"></mat-progress-bar> -->

<mat-sidenav-container class="sidenav-container" backgroundColor="primary">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" backgroundColor="primary"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="((isHandset$ | async) && authService.loggedIn()) === true">
    <div style="width: 62%; height: 160px; padding: 8px 0px 0px 90px; ">
      <div style="width: 101%; height: 80%; background-color: #fff; border-radius: 50%; margin-left: -60px;">

        <ng-container *ngIf="showOrHideMenu">
          <ng-container *ngIf="authService.loggedIn()">
            <img src={{selectedInstLogo}} style="position: relative; top: 2px; left: 20%; height: 98%; width: 78%;" />

          </ng-container>
        </ng-container>

        <ng-container *ngIf="!showOrHideMenu">
          <ng-container *ngIf="authService.loggedIn()">
            <img src="../assets/index.jpg" style="position: relative; top: 2px; left: 20%; height: 90%; width: 70%;" />
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!authService.loggedIn()">
          <img src="../assets/index.jpg" style="position: relative; top: 2px; left: 20%; height: 90%; width: 70%;" />

        </ng-container>

      </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div class="profile-container" *ngIf="authService.loggedIn()">
      <mat-toolbar>
        <mat-toolbar-row>

          <p>
            <mat-divider></mat-divider>
            {{ acessType }}
          </p>

        </mat-toolbar-row>
        <mat-toolbar-row>
          <h5>
            {{nome | profileName}}
          </h5>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <mat-toolbar *ngIf="!authService.loggedIn()">
      <h2 style="text-align: center; width: 90%;">
        Escolas
      </h2>
    </mat-toolbar>

    <!-- <mat-divider class="separator"> </mat-divider> -->

    <mat-nav-list>
      <div *ngIf="authService.loggedIn()">
        <mat-accordion class="example-headers-align">
          <mat-divider> </mat-divider>
          <a mat-list-item routerLinkActive="active" [routerLink]="['home']">
            <mat-icon color="primary">home</mat-icon>
            Home
          </a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['directores']" *ngIf="!showOrHideMenu">
            <mat-icon color="primary">group</mat-icon>
            Directores
          </a>
          <mat-divider></mat-divider>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header *ngIf="showOrHideMenu">
              <mat-panel-title>
                <mat-icon color="primary">person_pin</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Estudantes
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="active" [routerLink]="['estudantes']">
              <mat-icon color="primary">person_pin</mat-icon>
              Estudantes
            </a>
            <ng-container *ngIf="showOrHideMenuByNivel === 'Ensino do II Ciclo'">
              <a mat-list-item routerLinkActive="active" [routerLink]="['cursos']">
                <mat-icon color="primary">school</mat-icon>
                Cursos
              </a>
            </ng-container>
            <a mat-list-item routerLinkActive="active" [routerLink]="['turmas']">
              <mat-icon color="primary">group_work</mat-icon>
              Turmas
            </a>
          </mat-expansion-panel>
          <!-- <mat-divider></mat-divider> -->
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header *ngIf="showOrHideMenu">
              <mat-panel-title>
                <mat-icon color="primary">recent_actors</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Professores
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <a mat-list-item routerLinkActive="active" [routerLink]="['orientadores']">
                <mat-icon color="primary">recent_actors</mat-icon>
                Professores
              </a>
            </mat-panel-description>
            <ng-container *ngIf="showOrHideMenuByNivel === 'Ensino do II Ciclo'">
              <a mat-list-item routerLinkActive="active" [routerLink]="['orientadores']">
                <mat-icon color="primary">recent_actors</mat-icon>
                Orientadores
              </a>
              <a mat-list-item routerLinkActive="active" [routerLink]="['especialidades']">
                <mat-icon color="primary">beenhere</mat-icon>
                Especialidades
              </a>
            </ng-container>
          </mat-expansion-panel>
          <!-- <mat-divider></mat-divider> -->
          <mat-expansion-panel *ngIf="showOrHideMenu" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon color="primary">collections_bookmark</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Monografias
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="active" [routerLink]="['grupos']">
              <mat-icon color="primary">group</mat-icon>
              Grupos
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['projetos']">
              <mat-icon color="primary">widgets</mat-icon>
              Projectos
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['monografias']">
              <mat-icon color="primary">collections_bookmark</mat-icon>
              Monografias
            </a>
          </mat-expansion-panel>
          <!-- <mat-divider></mat-divider> -->
          <mat-expansion-panel *ngIf="!showOrHideMenu" [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon color="primary">school</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Escolas
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/institutos/private/list']">
              <mat-icon color="primary">school</mat-icon>
              Ensino Primario
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/institutos/private/ciclo1/list']">
              <mat-icon color="primary">school</mat-icon>
              Ensino do I ciclo
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/institutos/private/ciclo2/list']">
              <mat-icon color="primary">school</mat-icon>
              Ensino do II ciclo
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['area-formacao']">
              <mat-icon color="primary">domain</mat-icon>
              Area de Formação
            </a>
            <a mat-list-item [routerLink]="['locais']" routerLinkActive="router-link-active">
              <mat-icon color="primary">location_on</mat-icon>
              Locais
            </a>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="showOrHideMenu" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon color="primary">domain</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Departamentos
              </mat-panel-description>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="active" [routerLink]="['departamentos']">
              <mat-icon color="primary">domain</mat-icon>
              Departamentos
            </a>
          </mat-expansion-panel>
          <!-- <mat-divider></mat-divider> -->
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon color="primary">settings</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Configurações
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="!showOrHideMenu">
              <a mat-list-item routerLinkActive="active" [routerLink]="['municipios']">
                <mat-icon color="primary">location_city</mat-icon>
                Municipio
              </a>

              <a mat-list-item routerLinkActive="active" [routerLink]="['provincias']">
                <mat-icon color="primary">location_city</mat-icon>
                Provincia
              </a>
            </div>

            <a mat-list-item routerLinkActive="active" [routerLink]="['sobre']">
              <mat-icon color="primary">info</mat-icon>
              Sobre
            </a>

            <a mat-list-item (click)="logOut(drawer)">
              <mat-icon color="primary">power_settings_new</mat-icon>
              Terminar Sessão
            </a>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div *ngIf="!authService.loggedIn()" style="margin-top: 20px;">
        <div>
          <mat-form-field class="field-max">
            <input #search matInput width="100px" type="text" [(ngModel)]="customFilter.nome" (keyup)="findInstituto()"
              placeholder="Procurar" />
            <span matSuffix>
              <mat-icon color="primary">search</mat-icon>
            </span>
          </mat-form-field>
        </div>

        <button mat-button (click)="clearSelectedSchool()"
          style="width: 100%; margin-top: -20px; margin-bottom: 20px; text-align: center;">
          <mat-icon color="primary">refresh</mat-icon>
          Todas monografias
        </button>

        <a class="list-of-selected-inst" *ngFor="let item of institutos" mat-list-item (click)="schoolClicked(item)">
          <div>
            <mat-icon color="primary" style="position: relative; top: 1px;">school</mat-icon>
          </div>
          {{ item.nome }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="!enableReadMode">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span [ngClass]="'context-title'" *ngIf="!isPortable">
          {{ contextMenu }}
        </span>
        <span [ngClass]="'context-title'" class="login-button-mobile" *ngIf="isPortable && !authService.loggedIn()">
          <button mat-stroked-button [routerLink]="['/']">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-stroked-button [routerLink]="['/login']">
            <mat-icon>account_circle</mat-icon>
          </button>
          <button mat-stroked-button [routerLink]="['/institutos']">
            <mat-icon>school</mat-icon>
          </button>
        </span>

        <span [ngClass]="'context-title'" class="login-button-mobile" *ngIf="isPortable && authService.loggedIn()">
          <button mat-stroked-button (click)="switchBetweenPages()" [routerLink]="['/login']">
            {{ btnMonografiaText }} <mat-icon>collections_bookmark</mat-icon>
          </button>
          <button *ngIf="btnMonografiaText === 'Monografias Externas'" mat-stroked-button
            [routerLink]="['monografias/add']">
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </span>

        <span class="dateIcon hide-on-med-and-down" [hidden]="emitShowAddButton">
          <button mat-button [routerLink]="['monografias/add']" style="position: relative; bottom: 10px; right: 50%;">
            <mat-icon class="mat-0">cloud_upload</mat-icon>
            Nova Monografia
          </button>
        </span>
        <span class="dateIcon hide-on-med-and-down" [hidden]="!showDateSelect || !onChangeContext">
          <mat-icon class="mat-0">date_range</mat-icon>
        </span>
        <span class="ano-lectivo hide-on-med-and-down" [hidden]="!showDateSelect || !onChangeContext">
          <form [formGroup]="formGroup01">
            <mat-form-field class="mat-form-field-infix">
              <mat-select matInput formControlName="ano" class="mat-form-field-infix">
                <ng-container *ngFor="let year of years">
                  <mat-option [value]="year">
                    {{ year }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </form>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <div>
        <router-outlet></router-outlet>
      </div>
      <div id="my-footer">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
