.sidenav-container {
  height: 100%;
  overflow: auto;
}

mat-toolbar {
  align-items: center;
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 8;
}

/* .container {
  margin: 0px 0px;
} */

.span-container {
  /* margin: 0px 40px; */
  padding-left: 0%;
}
.public-span-container {
  /* margin: 0px 40px; */
  /* padding-left: 48%; */
  padding-left: 0%;
}

.fill-remainig-sapace {
  flex: 1 1 auto;
}
.spacer {
  flex: 1 1 auto;
  padding-right: 15%;
}
/* .spacer-icon {
  padding: 0 14px;
} */

/* .space-arround{
  padding-right: 3px;
  margin-bottom: 5px;
} */

/* Dashboard */

/* .grid-container {
  margin: 20px;
} */

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-nav-list a mat-icon {
  padding-right: 4%;
}

/* form {
  width: 2%;
} */
mat-form-field {
  text-align: center;
  padding-right: 2%;
  outline: none;
}
mat-select {
  outline: none;
}
.mat-form-field-infix {
  width: 80%;
  outline: none;
}

span.context-title {
  width: 86%;
}

span.ano-lectivo {
  padding-bottom: 1.3%;
  width: 12%;
}

mat-form-field > * {
  text-align: left;
  padding-right: 2px;
}

span.dateIcon {
  padding-top: 1.5%;
  margin-right: -1%;
}
span#span-back {
  width: 100%;
}

/* span button#btn-large {
  text-align-last: left;
  text-align: left;
  width: 100%;
} */

/*
.mat-form-field-infix {
  background-color: aliceblue;
  border: 0rem solid transparent;
  border-width: 0.84611rem;
  border-style: solid;
  border-color: transparent;
} */

mat-toolbar button#btnOnFirstRow1 {
  margin-left: 65.3%;
}

mat-toolbar button#btnOnFirstRow2 {
  margin-left: 65.3%;
}

mat-toolbar-row#row2 {
  padding-left: 2%;
}
mat-toolbar-row#row2 a {
  margin-left: 2.3%;
}
mat-toolbar-row#row2 a#lastLink {
  margin-left: 32.5%;
}
.field-max {
  width: 95%;
}

/*Mat-acordion & Mat-expation-panel*/
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
