<!-- <mat-toolbar color="primary">
  Simione Mucune
</mat-toolbar> -->

<mat-sidenav-container
  class="sidenav-container mat-elevation-z8"
  backgroundColor="primary"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    backgroundColor="primary"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="((isHandset$ | async) && authService.loggedIn()) === true"
  >
    <mat-toolbar backgroundColor="primary">
      <mat-icon color="primary">dashboard</mat-icon>
      Menu
    </mat-toolbar>
    <mat-divider> </mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['home']">
        <mat-icon class="space-arround" color="primary">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['estudantes']">
        <mat-icon class="space-arround" color="primary">school</mat-icon>
        Estudante
      </a>
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="['orientadores']"
      >
        <mat-icon class="space-arround" color="primary">home</mat-icon>
        Orientador
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['cursos']">
        <mat-icon class="space-arround" color="primary">bookmarks</mat-icon>
        Curso
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['especialidades']">
        <mat-icon class="space-arround" color="primary">bookmarks</mat-icon>
        Especialidade
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['turmas']">
        <mat-icon class="space-arround" color="primary">home</mat-icon>
        Turma
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['grupos']">
        <mat-icon class="space-arround" color="primary">group</mat-icon>
        Grupo
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <mat-toolbar>
      <mat-icon color="primary">settings</mat-icon>
      Configurção
    </mat-toolbar>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['sobre']"
        ><mat-icon class="space-arround" color="primary">info</mat-icon>
        Sobre
      </a>
      <a mat-list-item (click)="logOut(drawer)"
        ><mat-icon class="space-arround" color="primary"
          >power_setting</mat-icon
        >
        Terminar Sessão
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="center-on-small-only">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          *ngIf="authService.loggedIn()"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="center-on-small-only">{{ title }}</span>

        <span *ngIf="!authService.loggedIn()" class="span-container hide-on-med-and-down">
          <a
            routerLinkActive="active"
            [routerLink]="['public']"
            mat-button
            classe="menu-item-to-left"
          >
            <mat-icon left>home</mat-icon>
            Home
          </a>
          <a
            routerLinkActive="active"
            [routerLink]="['login']"
            mat-button
            classe="menu-item-to-left"
          >
            <mat-icon left>home</mat-icon>
            Login
          </a>
          <a
            routerLinkActive="active"
            [routerLink]="['login']"
            mat-button
            classe="menu-item-to-left"
          >
            <mat-icon left>info</mat-icon>
            Sobre
          </a>
        </span>

        <span
          *ngIf="authService.loggedIn()"
          class="span-container hide-on-med-and-down"
        >
          <a routerLinkActive="active" [routerLink]="['']" mat-button>
            <mat-icon left>home</mat-icon>
            Home
          </a>
          <a routerLinkActive="active" [routerLink]="['estudantes']" mat-button>
            <mat-icon left>school</mat-icon>
            Estudante
          </a>
          <a routerLinkActive="active" [routerLink]="['cursos']" mat-button>
            <mat-icon>bookmarks</mat-icon>
            Curso
          </a>
          <a routerLinkActive="active" [routerLink]="['grupos']" mat-button>
            <mat-icon left>group</mat-icon>
            Grupo
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>

      <footer class="page-footer backColor">
        <div class="container"></div>
        <div class="footer-copyright">
          <div class="container ">
            &copy; 2019 Litroft Dev. Todos os direitos reservados.
            <a class="grey-text text-accent-4 right"></a>
          </div>
        </div>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
