
<section class="about-us">
  <div class="contenedor1">
    <div class="contenedor-articulo">
      <div
        class="articulo"
        data-aos="zoom-in-right"
      >
        <mat-icon color="primary">verified_user</mat-icon>
        <h3>Acesso Negado!</h3>
        <p>O seu nivel de acesso não possui
          permissões para <br/>esse contexto.</p>
        <a mat-raised-button color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </a>
      </div>
    </div>
  </div>
</section>
