<header>
  <div class="contenedor">
    <section class="contenido-header">
      <section class="textos-header">
        <h1>Our creativity is your success</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorum.</p>
        <a mat-raised-button>
          Saiba mais</a>
      </section>
      <img src="../../../assets/img/primeraIlustracion.svg" alt="">
    </section>
  </div>
</header>
<section class="about-us">
  <div class="contenedor1">
    <h2 class="titulo">We provide a wide range</h2>
    <div class="contenedor-articulo">
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-pen-fancy"></i>
        <h3>Graphic design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-code"></i>
        <h3>Web design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-cog"></i>
        <h3>Video production</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-chart-pie"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-comments"></i>
        <h3>Marketing</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
      <div class="articulo" data-aos="zoom-in-right">
        <i class="fas fa-chart-bar"></i>
        <h3>Inphografics</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maxime eius quo
          consequuntur magni. Quis voluptate repudiandae soluta quod mollitia!</p>
          <a mat-raised-button color="primary">
            <mat-icon>list</mat-icon>
            Ler mais</a>
      </div>
    </div>
  </div>
</section>
<section class="questions contenedor">
  <section class="textos-questions">
    <h1>Our creativity is your success</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorum.</p>
    <a>Saiba mais</a>
  </section>
  <img src="../../../assets/img/segundaIlustracion.svg" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
</section>

<section class="results">
  <div class="contenedor1 conten-results">
    <section class="numbers">
      <div class="number" data-aos="zoom-in-left">
        <h4>+8863</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
      </div>
      <div class="number" data-aos="zoom-in-left">
        <h4>+8863</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
      </div>
      <div class="number" data-aos="zoom-in-left">
        <h4>+8863</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
      </div>
      <div class="number" data-aos="zoom-in-left">
        <h4>+8863</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, id.</p>
      </div>
    </section>
    <section class="results-text">
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sequi nihil unde.</p>
      <a href="#">Ingrese aquí</a>
    </section>
  </div>
</section>

<section class="contenedor1 services">
  <img src="../../../assets/img/terceraIlustracion.svg" alt="">
  <div class="box-skills">
    <h4><i class="far fa-check-circle"></i> Web design</h4>
    <h4><i class="far fa-check-circle"></i> Web development</h4>
    <h4><i class="far fa-check-circle"></i> SEO</h4>
    <h4><i class="far fa-check-circle"></i> Marketing</h4>
    <h4><i class="far fa-check-circle"></i> Web support</h4>
  </div>
</section>
