<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="false">title</mat-card-title>
    <mat-card-subtitle *ngIf="false">subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="space-in top-space">
      <mat-form-field>
        <!-- <mat-input-container floatPlaceholder="auto">
                </mat-input-container> -->
        <input matInput type="number" required placeholder="Numero de Seriie" class="input-style" />

        <span matPrefix>
          <mat-icon color="primary">code</mat-icon>
        </span>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="large-button space-arround" mat-raised-button color="primary">
      <mat-icon class="mat-20">security</mat-icon>
      Verificar e activar
    </button>
  </mat-card-actions>
</mat-card>
