<div [hidden]="onChangeContext">
  <mat-card color="primary">
    <div class="space-arround">
      <button class="btn-large" mat-raised-button color="primary" (click)="emitFormStudant()">
        <mat-icon>style</mat-icon>
        Preencher formulario de inscrição
      </button>
    </div>
  </mat-card>
</div>

<div [hidden]="!onChangeContext">
  <mat-card color="primary">
    <div>
      <span>
        <button class="btn-large" mat-raised-button color="primary" (click)="back()">
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </span>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
