<div class="container">
  <mat-grid-list cols="3" [rowHeight]="'30px'" [gutterSize]="'10px'" class="hide-on-med-and-down">
    <mat-grid-tile color="primary" class="mat-elevation-z2" [colspan]="1" [rowspan]="10" *ngFor="let grupo of grupos">
      <div class="container-card">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="../../../assets/notebook.png" />
              <h4 *ngIf="grupo.descricao.length > 30">{{ grupo.descricao.substring(0, 28) }}...</h4>
              <h4 *ngIf="grupo.descricao.length < 30">{{ grupo.descricao }}</h4>
              <h4>
                ({{grupo.adminInterno.instituto.sigla}}) | {{ grupo.anoLetivo }}
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount < 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount}} visualizações
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount > 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount | viewesNumber | number:'1.1-1'}}K visualizações
              </h4>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              {{ grupo.descricao }}
              <p id="pCurso"><strong>Curso:</strong> {{ grupo.curso.nome }}</p>
              <p><strong>Turma:</strong> {{ grupo.turma.sigla }}</p>
              <p><strong>Instituto:</strong> {{ grupo.adminInterno.instituto.nome }}
                ({{grupo.adminInterno.instituto.sigla}})</p>
              <p><strong>Ano lectivo:</strong> {{ grupo.anoLetivo }}</p>
              <a mat-raised-button id="readButton" color="primary" (click)="onReadMode(grupo)">
                <mat-icon>format_align_justify</mat-icon>
                Ler monografia
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" [rowHeight]="'30px'" [gutterSize]="'10px'" class="hide-on-large-only hide-on-small-and-down">
    <mat-grid-tile color="primary" class="mat-elevation-z2" [colspan]="1" [rowspan]="10" *ngFor="let grupo of grupos">
      <div class="container-card">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="../../../assets/notebook.png" />
              <h4 *ngIf="grupo.descricao.length > 30">{{ grupo.descricao.substring(0, 28) }}...</h4>
              <h4 *ngIf="grupo.descricao.length < 30">{{ grupo.descricao }}</h4>
              <h4>
                ({{grupo.adminInterno.instituto.sigla}}) | {{ grupo.anoLetivo }}
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount < 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount}} visualizações
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount > 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount | viewesNumber | number:'1.1-1'}}K visualizações
              </h4>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              {{ grupo.descricao }}
              <p id="pCurso"><strong>Curso:</strong> {{ grupo.curso.nome }}</p>
              <p><strong>Turma:</strong> {{ grupo.turma.sigla }}</p>
              <p><strong>Instituto:</strong> {{ grupo.adminInterno.instituto.nome }}
                ({{grupo.adminInterno.instituto.sigla}})</p>
              <p><strong>Ano lectivo:</strong> {{ grupo.anoLetivo }}</p>
              <a mat-raised-button id="readButton" color="primary" (click)="onReadMode(grupo)">
                <mat-icon>format_align_justify</mat-icon>
                Ler monografia
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" [rowHeight]="'30px'" [gutterSize]="'10px'" class="hide-on-med-and-up">
    <mat-grid-tile color="primary" class="mat-elevation-z2" [colspan]="1" [rowspan]="10" *ngFor="let grupo of grupos">
      <div class="container-card">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="../../../assets/notebook.png" />
              <h4 *ngIf="grupo.descricao.length > 30">{{ grupo.descricao.substring(0, 28) }}...</h4>
              <h4 *ngIf="grupo.descricao.length < 30">{{ grupo.descricao }}</h4>
              <h4>
                ({{grupo.adminInterno.instituto.sigla}}) | {{ grupo.anoLetivo }}
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount < 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount}} visualizações
              </h4>
              <h4 *ngIf="grupo?.monoViewsCount > 1000" style="font-size: small; margin: 0px; font-weight: 100;">
                {{grupo?.monoViewsCount | viewesNumber | number:'1.1-1'}}K visualizações
              </h4>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              {{ grupo.descricao }}
              <p id="pCurso"><strong>Curso:</strong> {{ grupo.curso.nome }}</p>
              <p><strong>Turma:</strong> {{ grupo.turma.sigla }}</p>
              <p><strong>Instituto:</strong> {{ grupo.adminInterno.instituto.nome }}
                ({{grupo.adminInterno.instituto.sigla}})</p>
              <p><strong>Ano lectivo:</strong> {{ grupo.anoLetivo }}</p>
              <a mat-raised-button id="readButton" color="primary" (click)="onReadMode(grupo)">
                <mat-icon>format_align_justify</mat-icon>
                Ler monografia
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="grupos.length === 0">
    <div class="empty-message-div-1">
      <div class="empty-message-div-2">
        <img src="../../../assets/img/empty_folder.png" class="empty-message-icom" />
      </div>
      <h2 class="empty-message">
        Nenhuma monografia disponivel...
      </h2>
      <button [routerLink]="['add']" class="empty-upload-button" mat-raised-button color="primary">
        Carregar monografia
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
  </div>
</div>
