.container-card {
  font-size: 11.2pt;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container-card .card {
  width: 100%;
  position: relative;
}

.container-card .card .face {
  height: 200px;
  width: 100%;
  transition: 0.5s;
}

.container-card .card .face.face1 {
  position: relative;
  background: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-card .card:hover .face.face1 {
  background: #3f51b5;
  transform: translateY(0);
}

.container-card .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}
.container-card .card:hover .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}
.container-card .card .face.face1 .content img {
  max-width: 100px;
  color: #fff;
  margin-left: 35.8%;
}

.container-card .card .face.face1 .content h4 {
  padding: 0;
  text-justify: auto;
  color: #fff;
  text-align: center;
  font-size: 11pt;
}

.container-card .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  transform: translateY(-100px);
}

.container-card .card:hover .face.face2 {
  transform: translateY(0);
}

#readButton {
  font-size: small;
  width: 56%;
}
#infoButton {
  font-size: small;
  margin-left: 3px;
  width: 40%;
}
.container-card .card .face.face1 .content mat-icon {
  margin-left: -30%;
  margin-bottom: -18px;
  color: #fff;
  font-size: small;
}

.container-card .card .face.face1 .content p {
  align-self: center;
  margin-bottom: -6px;
  color: #fff;
  font-size: small;
}

.container-card .card .face.face2 .content p {
  margin: 0px;
  padding: 0px;
}

.container-card .card .face.face2 .content p#pCurso {
  margin: 12px 0 0;
}
.container-card .card .face.face2 .content a {
  margin: 2px 0 0;
  text-align: left;
  width: 300px;
}

.empty-message-div-1 {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 8% 10% 16% 10%;
  align-items: center;
  justify-items: center;
  align-content: center;
  align-self: center;
}

.empty-message-div-2 {
  background-color: darkgray;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-items: center;
  align-content: center;
  border: 4px solid white;
  border-radius: 80px;
  left: 44%;
  position: relative;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.empty-message-icom {
  position: relative;
  left: 20%;
  top: 26px;
  height: 100px;
  width: 100px;
}

.empty-message {
  color: darkgray;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .empty-message-div-2 {
    background-color: darkgray;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    border: 4px solid white;
    border-radius: 80px;
    left: 44%;
    position: relative;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  }

  .empty-message-icom {
    position: relative;
    left: 20%;
    top: 26px;
    height: 100px;
    width: 100px;
  }

  .empty-upload-button {
    width: 50%;
    position: relative;
    left: 25%;
    align-content: center;
    text-align: center;
    align-self: center;
  }

  .empty-message {
    color: darkgray;
    text-align: center;
  }

  #readButton {
    font-size: small;
    width: 55%;
  }
  #infoButton {
    font-size: small;
    margin-left: 4px;
    width: 7rem;
  }

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .empty-message-div-2 {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    border: 4px solid white;
    border-radius: 80px;
    left: 40%;
    position: relative;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.9);
  }

  .empty-message-icom {
    position: relative;
    left: 20%;
    top: 26px;
    height: 100px;
    width: 100px;
  }

  .empty-message {
    color: darkgray;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 24%;
  }

  .empty-upload-button {
    width: 100%;
    position: relative;
    left: 0%;
    align-content: center;
    text-align: center;
    align-self: center;
  }

  .container-card .card .face.face1 .content mat-icon {
    margin-left: -24%;
    margin-bottom: -18px;
    color: #fff;
    font-size: small;
  }


  #readButton {
    font-size: small;
    width: 55%;
  }
  #infoButton {
    font-size: small;
    margin-left: 4px;
    width: 7rem;
  }
}

@media only screen and (max-width: 600px) {
  .empty-message-div-1 {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 8% 10% 16% 10%;
    align-items: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    margin-top: -5.5%;
  }

  .empty-message-div-2 {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    align-content: center;
    border: 4px solid white;
    border-radius: 90px;
    left: 26%;
    top: 80px;
    position: relative;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  }

  .empty-message-icom {
    position: relative;
    left: 20%;
    top: 26px;
    height: 100px;
    width: 100px;
  }

  .empty-message {
    font-size: medium;
    color: darkgray;
    text-align: center;
    margin-top: 36%;
    margin-bottom: 40%;
  }

  .empty-upload-button {
    width: 100%;
    position: relative;
    left: 0%;
    align-content: center;
    text-align: center;
    align-self: center;
  }
  .container-card .card .face.face2 .content {
    font-size: small;
  }

  #readButton {
    font-size: small;
    width: 55%;
  }
  #infoButton {
    font-size: small;
    margin-left: 4px;
    width: 38%;
  }
}
