<div [hidden]="!onChangeContext">
  <mat-card color="primary">
    <div class="space-arround">
      <mat-icon class="icon-settings" color="primary" (click)="onFilterSearch()">settings</mat-icon>
      <mat-form-field class="search">
        <input #key matInput type="text" (keyup)="onFilterSearch(key.value)" autocomplete="false"
          placeholder="Procurar monografias por nome..." />
        <span matSuffix *ngIf="!(key.value.length != 0)">
          <mat-icon class="mat-1" color="primary">search</mat-icon>
        </span>

        <span matSuffix *ngIf="key.value.length != 0">
          <button
            mat-icon-button
            (click)="key.value = null; cleanSearchField()"
          >
            <mat-icon color="primary">close</mat-icon>
          </button>
        </span>
      </mat-form-field>
    </div>
  </mat-card>
</div>
<header [hidden]="!onChangeContext">
  <div class="contenedor">
    <section class="contenido-header">
      <section class="textos-header">
        <h1>Trabalhos de conclusão de curso</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorum.</p>
        <h4>+5 mil de artigos publicados...</h4>
      </section>
      <img src="../../../assets/img/a-gril-and-computer.svg" alt="">
    </section>
  </div>
</header>
<router-outlet></router-outlet>
