<!-- <div [ngSwitch]="listView">
  <div>
    <mat-card color="primary">
      <div>
        <span>
          <button
            class="btn-large"
            mat-raised-button
            color="primary" disabled
          >
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
        </span>
      </div>
    </mat-card>
  </div>

  <div *ngSwitchCase="true">
    <router-outlet></router-outlet>
  </div>
  <div *ngSwitchCase="false">
  </div>
</div> -->

<app-dashboard></app-dashboard>
