<div
  style="padding-bottom: 40px;"
  class="container mat-elevation-z8 table hide-on-med-and-down"
>
  <button class="btn-large" mat-raised-button color="primary" (click)="add()">
    <mat-icon>add</mat-icon>
    Cadastrar Novo Instituto
  </button>
  <table
    *ngIf="institutos; else loading"
    mat-table
    [dataSource]="institutos"
    matSort
  >
    <ng-container matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Sigla
      </th>
      <td mat-cell *matCellDef="let instituto">
        {{ instituto?.sigla }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome do Instituto
      </th>
      <td mat-cell *matCellDef="let instituto">
        {{ instituto?.nome }}
      </td>
    </ng-container>

    <ng-container matColumnDef="formacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Area de Formação
      </th>
      <td mat-cell *matCellDef="let instituto">
        {{ instituto?.areaFormacao.descricao }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cursos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Cursos
      </th>
      <td mat-cell *matCellDef="let instituto">
        {{ instituto?.cursos }}
      </td>
    </ng-container>

    <ng-container matColumnDef="localizacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Localização
      </th>
      <td mat-cell *matCellDef="let instituto">
        {{ instituto?.local?.provincia?.nome }},
        {{ instituto?.local?.monicipio?.nome }}
        ({{ instituto?.local?.destrito }})
      </td>
    </ng-container>

    <ng-container matColumnDef="detalhe">
      <th mat-header-cell *matHeaderCellDef>detalhe</th>
      <td mat-cell *matCellDef="let instituto">
        <button mat-raised-button>
          <mat-icon color="primary">description</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let instituto">
        <button mat-raised-button>
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let instituto">
        <button mat-raised-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="noData">
      <th mat-footer-cell *matFooterCellDef>Lista vasia.</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaydColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displaydColumns"></tr>
    <tr
      mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: true }"
    ></tr>
  </table>

  <ng-template #loading>
    <div *ngIf="error$ | async as error; else showError">
      <span>
        Erro ao carregar institutos. Tente novamente mais tarde.
      </span>
    </div>
    <ng-template #showError>
      <mat-progress-bar mode="indeterminate" color="warn"> </mat-progress-bar>
    </ng-template>
  </ng-template>
</div>
