mat-toolbar-row {
  padding-left: 1%;
}

mat-toolbar-row#lastRow {
  padding: 0px;
}

.footer-copyright{
  width: 100%;
  padding-left: 2%;
  font-size: 12pt;
}

@media only screen and (min-width: 993px) {
  mat-toolbar-row {
    padding-left: 1%;
  }

}
@media only screen and (max-width: 600px) {
  mat-toolbar-row {
    padding-left: 1%;
  }

}
