<div class="container mat-elevation-z4">
  <mat-nav-list>
    <mat-list-item *ngFor="let item of institutos$ | async">
      <p matLine>{{ item.sigla }}</p>
      <mat-icon matListIcon>school</mat-icon>
      <h4 matLine>
        {{ item.nome }}
      </h4>
      <p matLine>{{ item.nivel.descricao +" | "+ item.numero}}</p>
      <p matLine>{{ item?.local.provincia.nome + ", " + item?.local?.municipio?.nome + ", " + item?.local?.distrito }}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
