.container {
  height: 10%;
  width: 4%;
  margin-left: -4%;
  position: relative;
  float: right;
  right: 0px;
  transition: 1s all;
}
/* .container:hover {
  height: 10%;
  width: 32%;
  margin-left: -4%;
  position: relative;
  float: right;
  right: 20px;
  transition: 1s all;
} */

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
