<div id="mainContainer" class="container mat-elevation-z8">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Monografia
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 style="width: 100%; text-align: center; font-size: medium;">{{monografia?.projeto?.tema}}</h3>
      <p style="text-align: justify; text-indent: 10px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Quibusdam nemo laudantium eaque error molestiae
        asperiores libero esse nisi. Error nesciunt consequatur dolorem reprehenderit.</p>
        <mat-divider></mat-divider>
      <div>
        <button mat-button *ngIf="monografia?.projeto?.grupo?.monoViewsCount < 1000">
          <mat-icon>visibility</mat-icon>Visualizações:
          <b>{{monografia?.projeto?.grupo?.monoViewsCount| viewesNumber | number:'1.1-1'}}K</b>
        </button>
        <button mat-button *ngIf="monografia?.projeto?.grupo?.monoViewsCount > 1000">
          <mat-icon style="font-size: 14pt;">visibility</mat-icon>Visualizações:
          <b>{{monografia?.projeto?.grupo?.monoViewsCount| viewesNumber | number:'1.1-1'}}K</b>
        </button>
        <button mat-button style="margin-left: 0px; margin-right: 0px;">
          <mat-icon style="font-size: 14pt; margin-left: 0px; margin-right: 0px;">star_border</mat-icon>
        </button>
        <button mat-button style="margin-left: 0px; margin-right: 0px;">
          <mat-icon style="font-size: 14pt; margin-left: 0px; margin-right: 0px;">share</mat-icon>
        </button>
      </div>
      <button mat-raised-button class="large" color="primary" (click)="nextStep()">
        <mat-icon>arrow_downward</mat-icon>Próximo
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Orientador
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Orientador</h3>
      <h4>{{monografia?.projeto?.grupo?.orientador?.nome}}</h4>
      <button mat-raised-button class="large" (click)="prevStep()">
        <mat-icon>
          arrow_upward</mat-icon>Voltar
      </button>
      <button mat-raised-button class="large" color="primary" (click)="nextStep()">
        <mat-icon>arrow_downward</mat-icon>Próximo
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Autores
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <mat-nav-list dense>
        <a mat-list-item *ngFor="let item of monografia$ | async" href="item">
          {{item?.projeto.tema}}
        </a>
      </mat-nav-list> -->
      <button mat-raised-button class="large" color="primary" (click)="prevStep()">
        <mat-icon>
          arrow_upward</mat-icon>Voltar
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
